body {
  background-color: teal;
}

/* ========== MIN-WIDTH & MAX-WIDTH ========== */
/* 500px + */
/* @media (min-width: 500px) {
  body {
    background-color: yellowgreen;
  }
} */

/* 768px + */
/* @media (min-width: 768px) {
  body {
    background-color: aqua;
  }
} */

/* 0px - 768px */
/* @media (max-width: 768px) {
  body {
    background-color: aqua;
  }
} */

/* 0px - 500px */
/* @media (max-width: 500px) {
  body {
    background-color: yellowgreen;
  }
} */

/* 600px */
/* @media (width: 600px) {
  body {
    background-color: aqua;
  }
} */

/* ========== AND ========== */
/* 
768px + true
0px - 1199px true
*/
/* @media (min-width: 768px) and (max-width: 1199px) {
  body {
    background-color: aqua;
  }
} */

/* 0px - 767px */
/* @media (max-width: 767px) {} */

/* ========== OR ========== */
/* 
0px - 767px false
1200px + false
*/
/* @media (max-width: 767px), (min-width: 1200px) {
  body {
    background-color: aqua;
  }
} */

/* ========== TYPES ========== */
/* 
  all
  screen 
  print
*/

/* @media screen and (min-width: 768px) {
  .menu,
  .page-btn {
    display: none;
  }
} */

/* @media print {
  .menu,
  .page-btn {
    display: none;
  }
} */

/* ========== ORIENTATION ========== */
/* @media screen and (orientation: portrait) {
  body {
    background-color: yellowgreen;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  body {
    background-color: aqua;
  }
} */
